*{
    margin: 0%;
    padding: 0%;
}

body{
    flex-direction: column;
    box-sizing: border-box;
    background-color: #171717;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#clockDisplay{
    display: flex;
    position: relative;
    color: black;
    text-shadow: 0px 0px 4px lightblue;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    top: 150px;
    letter-spacing: 2px;
    animation: blink 1s infinite;
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
    border-bottom: 2px solid blue;
    box-shadow: 0px 2px 20px lightskyblue;
}
 @keyframes blink{
    0% {
        opacity: 1;
      
    }
    55% {
        opacity: 0.5;
        background: linear-gradient(45deg,red,orange,gold,#48ff00,
        #00ffd5, #002bff, #ff00c8, #ff0000);  
        filter: blur(2px);
        width: calc(90% + 4px);
        transition: width .3s ease-in-out;
    }
    95% {
        opacity: 1;
        
       
        
    }
}
.buttonS{
    border: none;
    padding: 5px 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    top: 200px;
    outline: none;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
    box-shadow: 0px 2px 20px lightskyblue;
    
}

.buttonS:hover::before{
    opacity: 1;
}
.buttonS:active::before{
    opacity: 0;
}
.buttonS::before{
    content:"";
    background: linear-gradient(45deg,red,orange,gold,#48ff00,
    #00ffd5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
    opacity: 0;
}
.buttonS ion-icon{
    color: lightskyblue;
}
.buttonS ion-icon:hover{
    color: rgba(255, 217, 0, 0.801);
}
h1{
    color: white;
    text-shadow: 2px 2px 4px gold;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    position: relative;
    font-size: 40px;
    top: 50px;
    background: linear-gradient(45deg,red,orange,gold,#48ff00,
    #00ffd5, #002bff, #ff00c8, #ff0000);
    filter: drop-shadow(0px 0px 2px lightblue);
    box-shadow: 0px 2px 20px lightskyblue;
    border-radius: 100%;
    width: 60%;
    margin: 0 auto;
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.753);
    background-color: rgba(255, 0, 242, 0.253);
    border-radius: 100%;
}
h3{
    color: black;
    text-shadow: 1px 1px 1px lightskyblue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    position: relative;
    font-size: 15px;
    top: 100px;
   
    filter: drop-shadow(0px 0px 2px lightblue);
    box-shadow: 0px 2px 20px lightskyblue;
    border-radius: 100%;
    width: 40%;
    margin: 0 auto;
}
h3 ion-icon{
    color: rgba(135, 206, 250, 0.575);
}











   
  
















   
  




